@{
	ViewData["Title"] = "ExampleController Index Sayfası";
	Layout = "ExampleLayout";
}



@section header{
	<p>Bu kodlar header'ın altına eklenecek</p>
}
@section footer{
	<p>bu kod footer'ın altına eklenecek'</p>

}

<div>Bu sayfa ExampleController sayfası >Index Sayfası</div>